* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}

.container {
	width: 1024px;
	height: 70px;
	margin: 0 auto;
}

.site-title {
	height: 70px;
	float: left;
}

ul {
	float: right;
}

.nav-list {
	line-height: 70px;
	float: left;
	color: #FAFAFA;
	list-style: none;
	font-size: 16px;
	padding: 0 30px;
}

.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}
.main-visual-content {
	padding-top: 200px;
}
.main-visual-title {
	font-size: 64px;
	color: #FAFAFA;
}

.main-visual-text {
	margin: 10px;
	font-size: 20px;
	color: #FAFAFA;
}

.border {
	width: 70px;
	border-bottom: 3px solid #EC715F;
	margin: 8px auto 0 auto;
}
/* portfolio */
.portfolio {
	width: 100%;
	height: 1000px;
	background-color: #ECEFF1;
	text-align: center;
	padding: 90px;
}

.portfolio-title {
	font-size: 32px;
	color: #000000;
}

.portfolio-text {
	margin: 30px auto;
}

.portfolio-text-string {
	font-size: 16px;
	color: #000000;
}

.portfolio-boxes {
	width: 920px;
	height: 510px;
	margin: 0 auto;
}

.portfolio-box {
	width: 300px;
	height: 250px;
	display: inline-block;
	float: left;
	background-position: center;
	background-size: cover;
}

.portfolio-box:nth-child(1) {
	background-image: url(img/sketch.jpg);
	margin-bottom: 10px;
}
.portfolio-box:nth-child(2) {
	background-image: url(img/websuku.png);
	margin: 0 10px 10px 10px;
}
.portfolio-box:nth-child(3) {
	background-image: url(img/write.jpg);
	margin-bottom: 10px;
}
.portfolio-box:nth-child(4) {
	background-image: url(img/webcamp.png);
}
.portfolio-box:nth-child(5) {
	background-image: url(img/talk.jpg);
	margin: 0 10px;
}
.portfolio-box:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}
/* feature */
.feature {
	width: 980px;
	margin: 90px auto;
	text-align: center;
}
.feature-title {
	font-size: 32px;
	color: #000000;
}

.feature-text {
	margin: 30px auto;
	font-size: 16px;
	color: #000000;
}
 /* social */
.social {
	padding: 90px auto;
}
.social-box {
	width: 320px;
	height: auto;
	float: left;
	background-size: orange;
}
.social-box:nth-child(2) {
	margin: 0 10px;
}
.fas {
	font-size: 60px;
}
.social-box-title {
	margin: 10px auto;
	font-size: 20px;
	color: #000000;
}
.social-box-text {
	font-size: 16px;
	color: #000000;
}
/* profile */
.profile {
	padding: 90px;
	width: 100%;
	padding: 90px auto;
	background-color: #ECEFF1;
	height: 500px;
}
.profile_content {

}

.prfile_box {
  margin-top: 30px;
}
.profile_image {
  background-image: url(img/my-icon.jpg);
  width: 200px;
  height: 200px;
  float: left;
}
.prfile_name {
  float: left;
  text-align: left;
}

/**/